:root {
    --Deep-Violet: #21092f;
    --Light-Grey: #dfdee0;
    --White: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100vh;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: var(--Deep-Violet);
    font-size: 18px;
    font-feature-settings: "liga" off, "clig" off;
    background: var(--White);
}

.flx {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-position: left 0 top 0;

    div.container {
        width: 1082px;
        height: 527px;
        border: 1px solid red;

        div.cards {
            width: 50%;
            height: 100%;
            background-image: url(../images/bg-card-front_full.png), url(../images/bg-card-back_full.png);
            background-repeat: no-repeat;
            background-position: left 0 top 0, right 0 bottom 0;
        }
        div.form {
            width: 50%;
            height: 100%;

            form {
                max-width: 381px;
                height: 352px;
                border: 1px solid red;
                flex-direction: column;
                align-items: stretch;
                row-gap: 26px;

                div.flx {
                    flex-direction: column;
                    align-items: stretch;
                }

                label {
                    font-size: 12px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    margin-block-end: 9px;
                }
                div.card-secret {
                    display: flex;
                    flex-basis: 50%;
                    align-items: flex-start;
                    /* flex-direction: column; */ /* flex-wrap: nowrap; */
                    /* justify-content: space-between; */ /* column-gap: 20px; */
                    
                    div.card-date {
                        flex-direction: column;
                        /* input {
                            width: 80px;
                        } */
                    }

                    div.card-cvc {
                        input {
                            width: 100px;
                        }
                    }
                }

                input {
                    border-radius: 8px;
                    border: 1px solid var(--Light-Grey);
                    background: var(--White);
                    padding: 11px 16px;
                }

                input::placeholder {
                    font-family: inherit;
                    color: inherit;
                    opacity: 0.25;
                }

                button {
                    width: 381px;
                    height: 53px;
                    /* flex-shrink: 0; */
                    border-radius: 8px;
                    background: var(--Deep-Violet);
                    color: var(--White);
                }
            }
        }
    }
}
